<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guidemetravelersapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/guide_me_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/guide_me_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GuideMeTravelersApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".views.chatView.ChatActivity"
            android:exported="true"
            android:label="@string/title_activity_chat"
            android:theme="@style/Theme.GuideMeTravelersApp.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".views.audioGuideLocation.AudioGuideLocationActivity"
            android:exported="true"
            android:label="@string/title_activity_audio_guide_location"
            android:theme="@style/Theme.GuideMeTravelersApp.NoActionBar" />
        <activity
            android:name=".views.profileView.EditProfile"
            android:exported="true"
            android:label="@string/title_activity_edit_profile"
            android:theme="@style/Theme.GuideMeTravelersApp.NoActionBar" />
        <activity
            android:name=".views.profileView.ProfileActivity"
            android:exported="true"
            android:label="@string/title_activity_profile"
            android:theme="@style/Theme.GuideMeTravelersApp.NoActionBar" />
        <activity
            android:name=".views.audioguidemap.AudioGuideMap"
            android:exported="true"
            android:label="@string/title_activity_audio_guide_map"
            android:theme="@style/Theme.GuideMeTravelersApp.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".views.homescreen.HomeScreen"
            android:exported="true"
            android:label="@string/title_activity_home_screen"
            android:theme="@style/Theme.GuideMeTravelersApp.NoActionBar" />
        <activity
            android:name=".views.registerview.RegisterView"
            android:exported="true"
            android:label="@string/title_activity_register_view"
            android:theme="@style/Theme.GuideMeTravelersApp.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".views.experienceDetailsView.ExperienceDetailsActivity"
            android:exported="true"
            android:label="@string/title_activity_experience_details"
            android:theme="@style/Theme.GuideMeTravelersApp.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".views.experienceHistoryView.ExperienceHistoryActivity"
            android:exported="true"
            android:label="@string/title_activity_experience_history"
            android:theme="@style/Theme.GuideMeTravelersApp.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".views.loginView.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.GuideMeTravelersApp.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GuideMeTravelersApp.NoActionBar" />
    </application>

</manifest>